@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  position: relative;
  display: block;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 66px;
  border: 3px solid #fefefe;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.56);
  border-radius: 20px;
  background: #f3f3f3;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.hold {
  border-color: #f5dd61;
  overflow: hidden;
}

.hide {
  display: none;
}

.hovered {
  /* border-top: 2px solid #8ed7ed; */
  background-color: whitesmoke;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 154px;
  height: 70px;
  border-radius: 20px;
  border: 2px dashed transparent;
}

.target {
  border-color: #d6d6d6;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #68e0cf 0%, #209cff 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}